.loading {
  background: #fff;
  padding: 20px 20px 12px;
  margin-bottom: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form {
  background: #fff;
  padding: 20px 20px 12px;
  margin-bottom: 14px;
  border-radius: 4px;
  display: flex;
  flex-grow: 20;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form input,
.form textarea {
  width: 100%;
}
